@font-face {
  font-family: "FiraSans-BlackItalic";
  src: url("../font/FiraSans-BlackItalic.ttf") format("truetype");
}

body{
	margin: 0;
	padding: 0;	
}
#before{
	width: 100%;
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	background: #407088;
	position: absolute;
	animation: ltor 0.5s linear;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}
#after{
	width: 100%;
	height: 100vh;
	background: #5c94bd;	
}
#loading{
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border-top: 10px solid #f66767;
	position: relative;
	animation: rotate1 2s linear infinite;
}
#loading::before,#loading::after{
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius: 50%;
}
#loading::before{
	border-top: 10px solid #505bda;
	transform: rotate(120deg);
}
#loading::after{
	border-top: 10px solid #43ab92;
	transform: rotate(240deg);
}
#loading span{
	position: absolute;
	width: 200px;
	height: 200px;
	color: #fff;
	text-align: center;
	line-height: 200px;
	animation: rotate2 2s linear infinite;
	font-family: FiraSans-BlackItalic;
	font-size: large;
}
@keyframes rotate1{
	to{transform: rotate(360deg);}
}
@keyframes rotate2{
	to{transform: rotate(-360deg);}
}
@keyframes ltor{
	from{top: 0;}
	to{top: -100%;}
}