body{
	margin: 0;
	padding: 0;
}
#box1{
	background: url(../img/josh-withers-o1kRju7UvR0-unsplash.jpg);
	height: 100vh;
	width: 100%;
	background-size: 100% 100%;
}
#resume{
	width: 350px;
	height: 90px;
	border: 1px solid #fef6fb;
	position: fixed;
	top: 50px;
	left: 50px;
	background: rgba(248,248,248,0.5);
	border-radius: 20px;
}
#avatar{
	float: left;
	width: 88px;
	height: 88px;
	border: 1px solid #c9d1d3;
	margin-left: 20px;
	border-radius: 50%;
	background: url(../img/IMG_3711.png);
	background-size: cover;
}
#title{
	width: 195px;
	height: 88px;
	float: right;
	text-align: center;
	line-height: 88px;
	margin-right: 20px;
}
#title span:first-child{
	font-size: 20px;
	font-weight: bold;
	color: black;
	float:left;
}

#title span:nth-child(2){
	font-size: 20px;
	font-weight: bold;	
	margin-right: 5px;
	float:left;
}
#title span:last-child{
	font-size: 20px;
	font-weight: bold;
	float:left;
	color: #315b96;
}
#title span:last-child:hover{
	color:#f54291;
}
#introduce{
	width: 800px;
	height: 400px;
	position: relative;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(0,0,0,0);
	border-radius: 20px;

}
#introduce:hover{
	box-shadow: 0px 0px 30px #45454d;
	
}
#introduce div:first-child{
	height: 100px;
	width: 600px;
	line-height: 100px;
	text-align: center;
	position: absolute;
	top:10%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 66px;
	font-weight: bolder;
	background:  url(../img/jonathan-roger-LY1eyQMFeyo-unsplash.jpg);
	background-size: contain;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	
}
#introduce div:last-child{
	text-align: center;
	line-height: 50px;
	position: absolute;
	top:50%;
	left: 50%;
	transform: translateX(-50%);
	font-size:28px;
	font-family: "楷体";
	font-weight: bold;
	color: #003f5c;
}
#introduce div:last-child span{
	font-family: "华文行楷";
	font-size:28px;
	font-weight: bold;
}
